// 发布城市 分店项
.display-item-list
    * 
        vertical-align middle


// 分店项
.display-item
    display inline-block

    margin 5px
    padding 2px 4px

    border-radius 5px

    button.close
        margin-top -2px