@import "navigate.styl"
@import "node.styl"
@import "territory.styl"
@import "pagination.styl"
@import "services.styl"

.editable
    display inline-block
    cursor pointer
    color #337ab7

    &:hover        
        text-decoration underline

.op
    > *
        margin 0 0.5em

.form-inline
    .control-label
        margin-right 0.5em


.form-group
    .checkbox-inline,
    .radio-inline
        margin-left 0
        margin-right 20px

    &.required
        > .control-label:before
            content '*'
            color red



// type ahead
.twitter-typeahead
    width 100%
    vertical-align middle
.tt-dropdown-menu
    width 100%

.form-inline
    .twitter-typeahead
        width auto
    .tt-dropdown-menu
        width auto
// end type ahead

.modal-dialog
    legend
        font-size 16px
        border-bottom none