@import "node.styl"
@import "territory.styl"
@import "services.styl"

.editable
    display inline-block
    cursor pointer
    color #337ab7

    &:hover        
        text-decoration underline

.op
    .editable
        padding 0 0.5em

.form-group
    .checkbox-inline,
    .radio-inline
        margin-left 0
        margin-right 20px

    &.required
        > .control-label:before
            content '*'
            color red

.modal-dialog
    legend
        font-size 16px
        border-bottom none
