@import "node.styl"
@import "territory.styl"

.editable
    display inline-block
    cursor pointer
    color #337ab7

    &:hover        
        text-decoration underline

.op
    .editable
        padding 0 0.5em
        
main
    padding 1em
    