.node
    
    > *
        display inline-block
        vertical-align top
        
    .handle
        width 1em
        cursor pointer
        
    .item
        padding 0 0.5em 
        cursor default

        &:hover
            background-color yellow

        > *
            display inline-block
        .op
            margin-left 1em
            
            > *
                display inline-block

            .seperator
                height 1em
                border-left 1px dotted #ccc